<!--primera línea-->
<div style="max-width: 1100px; text-aling: center"  class="categoria-img">
<mdb-card class="categoria-img" id="categoria-img">
<br/>
<br/>
<div class="card-deck">
  &nbsp;&nbsp;&nbsp;
  <!-- Card Tecnología -->
  <mdb-card>
  <!-- Card img -->
    <div class="view overlay zoom rounded z-depth-2 mb-4">
      <a href="https://www.google.com">
        <img src="https://scontent.fbaq1-1.fna.fbcdn.net/v/t1.0-9/122443360_3748232881878229_6688004701554055849_n.jpg?_nc_cat=107&ccb=2&_nc_sid=825194&_nc_ohc=HNqqx932T64AX8HJ42g&_nc_ht=scontent.fbaq1-1.fna&oh=0c322941a09361e1fa6a990abd89b535&oe=5FB72559" class="img-fluid " alt="zoom"
        >
        <div class="mask flex-center waves-effect waves-light">
          <a href="https://www.google.com">Tecnología
          </a>
        </div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <a href="https://www.google.com">
          <h4 class="text-info">
          <mdb-icon fas icon="laptop"></mdb-icon>
          Tecnología
          </h4>
        </a>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text> 
        Encuentra todo lo que buscas para tu familia; Tecnología, electrodomesticos, accesorios y más...
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>
        Ver más
      </a>
    </mdb-card-body>
  </mdb-card>
  <!--termina el card Tecnología-->

  <!-- Card Hogar-->
  <mdb-card>
    <!-- Card img -->
    <div class="view overlay zoom rounded z-depth-2 mb-4">
      <a href="https://www.google.com">
        <img src="https://scontent.fbaq1-1.fna.fbcdn.net/v/t1.0-9/122435629_3749415448426639_5175159764440468582_n.jpg?_nc_cat=110&ccb=2&_nc_sid=825194&_nc_ohc=Sf_-a_WrC68AX8FaZaT&_nc_ht=scontent.fbaq1-1.fna&oh=8e6be1018f5dbfba2e8c233d26242cc8&oe=5FB809A7" class="img-fluid " alt="zoom"
        >
        <div class="mask flex-center waves-effect waves-light">
          <a href="https://www.google.com">
            Hogar y electrodomésticos
          </a>
        </div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <a href="https://www.google.com">
          <h4 class="text-info">
          <mdb-icon fas icon="home">
          </mdb-icon>
            Hogar
          </h4>
        </a>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text>
        Encuentra todo lo que buscas para tu hogar; electrodomésticos, elementos de cocina y más...
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>
        Ver más
      </a>
    </mdb-card-body>
  </mdb-card>
  <!--acá termina card Hogar-->

  <!-- Card Vehículos -->
  <mdb-card>
      <!-- Card img -->
    <div class="view overlay zoom rounded z-depth-2 mb-4">
      <a href="https://www.google.com">
        <img src="https://scontent.fbaq1-1.fna.fbcdn.net/v/t1.0-9/122455571_3749506311750886_2283311024243882978_n.jpg?_nc_cat=108&ccb=2&_nc_sid=825194&_nc_ohc=tRgcbiE45a8AX_Sz2q5&_nc_ht=scontent.fbaq1-1.fna&oh=295fe25294d3ec76997f1bd87aa89824&oe=5FB80810" class="img-fluid " alt="zoom"
        >
        <div class="mask flex-center waves-effect waves-light">
          <a href="https://www.google.com">
            Vehículos
          </a>
        </div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <a href="https://www.google.com">
          <h4 class="text-info">
            <mdb-icon fas icon="car-alt">
            </mdb-icon>
              Vehículos
            <mdb-icon fas icon="motorcycle">
            </mdb-icon>
          </h4>
        </a>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text>
        Encuentra todo lo que buscas para tu vehículo; accesorios, repuestos y más...
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>
        Ver más
      </a>
    </mdb-card-body>
  </mdb-card>
  &nbsp;&nbsp;&nbsp;
</div>
<br/>
<br/>
</mdb-card>
</div>
<br/>
<br/>
<!--acá termina la primera linea-->

<!--primera línea-->
<div style="max-width: 1100px; text-aling: center" >
<div class="card-deck">
  <!-- Card Supermercado -->
  <mdb-card>
  <!-- Card img -->
    <div class="view overlay zoom rounded z-depth-2 mb-4">
      <a href="https://www.google.com">
        <img src="https://scontent.fbog10-1.fna.fbcdn.net/v/t1.0-9/122278316_3750663378301846_7800689877543257989_n.jpg?_nc_cat=109&ccb=2&_nc_sid=825194&_nc_ohc=xvz26P-Q2U4AX_bBkRR&_nc_ht=scontent.fbog10-1.fna&oh=4caf93e7b2a5aaf73ecc59daf8d052ba&oe=5FB80EBC" class="img-fluid " alt="zoom"
        >
        <div class="mask flex-center waves-effect waves-light">
          <a href="https://www.google.com">Supermercado
          </a>
        </div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <a href="https://www.google.com">
          <h4 class="text-info">
          <mdb-icon fas icon="shopping-basket">
          </mdb-icon>
          Supermercado
          </h4>
        </a>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text> 
        Encuentra todo lo que buscas para tu canasta familiar, alimentos, bebidas, frutas y más...
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>
        Ver más
      </a>
    </mdb-card-body>
  </mdb-card>
  <!--termina el card Supermercado-->

  <!-- Card Servicios-->
  <mdb-card>
    <!-- Card img -->
    <div class="view overlay zoom rounded z-depth-2 mb-4">
      <a href="https://www.google.com">
        <img src="https://scontent.fbog11-1.fna.fbcdn.net/v/t1.0-9/122135251_3750698751631642_5459385209592972003_n.jpg?_nc_cat=105&ccb=2&_nc_sid=825194&_nc_ohc=jbjSBZAHLFIAX8wTiO9&_nc_ht=scontent.fbog11-1.fna&oh=dadfcc2419cc349f1e5cf3dca82ef132&oe=5FB97111" class="img-fluid " alt="zoom"
        >
        <div class="mask flex-center waves-effect waves-light">
          <a href="https://www.google.com">
            Servicios
          </a>
        </div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <a href="https://www.google.com">
          <h4 class="text-info">
          <mdb-icon fas icon="concierge-bell"></mdb-icon>
            Servicios
          </h4>
        </a>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text>
        Encuentra la mejor ayuda; marketing, reparaciones, software y más...
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>
        Ver más
      </a>
    </mdb-card-body>
  </mdb-card>
  <!--acá termina card Hogar-->

  <!-- Card Vehículos -->
  <mdb-card>
      <!-- Card img -->
    <div class="view overlay zoom rounded z-depth-2 mb-4">
      <a href="https://www.google.com">
        <img src="https://scontent.fbaq1-1.fna.fbcdn.net/v/t1.0-9/122455571_3749506311750886_2283311024243882978_n.jpg?_nc_cat=108&ccb=2&_nc_sid=825194&_nc_ohc=tRgcbiE45a8AX_Sz2q5&_nc_ht=scontent.fbaq1-1.fna&oh=295fe25294d3ec76997f1bd87aa89824&oe=5FB80810" class="img-fluid " alt="zoom"
        >
        <div class="mask flex-center waves-effect waves-light">
          <a href="https://www.google.com">
            Vehículos
          </a>
        </div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <a href="https://www.google.com">
          <h4 class="text-info">
            <mdb-icon fas icon="laptop"></mdb-icon>
              Tecnología
          </h4>
        </a>
      </mdb-card-title>
      <!--Text-->
      <mdb-card-text>
        Encuentra todo lo que buscas para tu hogar, electrodomésticos, elementos de cocina y más...
      </mdb-card-text>
      <a href="#" mdbBtn color="primary" mdbWavesEffect>
        Ver más
      </a>
    </mdb-card-body>
  </mdb-card>
</div>
</div>
<!--acá termina la primera linea-->
