<div style="max-width: 1100px; text-aling: center" >
<div class="card-deck">
  <!-- Card -->
  <mdb-card>
      <!-- Card img -->
    
    <div class="view overlay zoom rounded z-depth-2 mb-4">
    <a href="https://www.google.com">
  <img src="https://scontent.fbaq1-1.fna.fbcdn.net/v/t1.0-9/122443360_3748232881878229_6688004701554055849_n.jpg?_nc_cat=107&ccb=2&_nc_sid=825194&_nc_ohc=HNqqx932T64AX8HJ42g&_nc_ht=scontent.fbaq1-1.fna&oh=0c322941a09361e1fa6a990abd89b535&oe=5FB72559" class="img-fluid " alt="zoom"
  >
  <div class="mask flex-center waves-effect waves-light">
    <a href="https://www.google.com">Tecnología</a>
  </div></a>
</div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <a href="https://www.google.com">
        <h4 class="text-info">
        <mdb-icon fas icon="laptop"></mdb-icon>
            Tecnología
        </h4>
        </a>
        
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Encuentra todo lo quebuscas para tu hogar, tecnología, electrodomesticos, accesorios y más...
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Ver más</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/14.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Button</a>
    </mdb-card-body>
  </mdb-card>

  <!-- Card -->
  <mdb-card>
    <div class="view rgba-white-slight waves-light" mdbWavesEffect>
      <!-- Card img -->
      <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/images/15.jpg" alt="Card image cap"></mdb-card-img>
      <a>
        <div class="mask"></div>
      </a>
    </div>
    <!--Card content-->
    <mdb-card-body>
      <!--Title-->
      <mdb-card-title>
        <h4>Card Title</h4>
      </mdb-card-title>

      <!--Text-->
      <mdb-card-text> Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </mdb-card-text>

      <a href="#" mdbBtn color="primary" mdbWavesEffect>Butaton</a>
    </mdb-card-body>
  </mdb-card>
</div>
</div>
