<!-- Main navigation -->
<header>
    <!--Navbar-->
    <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
      <mdb-navbar-brand>
        <a class="logo navbar-brand waves-light" mdbWavesEffect href="https://miguelpaez.vercel.app/"><strong>MAPP</strong></a>
      </mdb-navbar-brand>
      <links>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
            <a class="nav-link" href="https://miguelpaez.vercel.app/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="https://miguelpaez.vercel.app/">Contador</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="./informaticopage.component.html">Informático</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Electrónico</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Curriculum</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
            <a class="nav-link" href="#">Fundación</a>
          </li>
        </ul>
      </links>
    </mdb-navbar>
  </header>
  <!-- Main navigation -->