<mdb-navbar SideClass="navbar  justify-content-center blue-gradient indigo" [containerInside]="true">
    <div class="col-md-12">
    <ul class="nav navbar-expand-lg justify-content-center blue-gradient lighten-3 py-4 mb-r font-weight-bold z-depth-1">
        <li class="nav-item">
        <a class="nav-link active white-text" href="#!">Tecnología</a>
        </li>
        <li class="nav-item">
        <a class="nav-link white-text" href="#!">Hogar</a>
        </li>
        <li class="nav-item">
        <a class="nav-link white-text" href="#!">Vehículos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link white-text" href="#!">Super Mercado</a>
        </li>
    </ul>
    </div>
</mdb-navbar>    


