<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg blue-gradient justify-content-center navbar-dark indigo">
    <mdb-navbar-brand><a class="navbar-brand" href="https://miguelpaez.vercel.app/">Inicio</a></mdb-navbar-brand>
    <links>
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                <mdb-icon fas icon="laptop"></mdb-icon>
                    Contador
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                <mdb-icon fas icon="house-damage"></mdb-icon>
                    Informatico
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                <mdb-icon fas icon="car"></mdb-icon>
                    Electronico
                <mdb-icon fas icon="motorcycle"></mdb-icon>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-light" mdbWavesEffect>
                <mdb-icon fas icon="shopping-basket"></mdb-icon>
                    Fundación
                </a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Más Categorías<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Agro</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Arte, Papelería y Mercería</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Bebés</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Belleza, Ropa y Accesorios</a>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Deportes y Fitness</a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Adultos</a>
                </div>
            </li>
        </ul>
    </links>
</mdb-navbar>
<!--/.Navbar-->
