<header>
    <div style="height: 150px;">
        <div class="col-xl-5 col-md-4 mb-3 text-center">
            <img src="https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/123063769_155774156225645_2383598193006832660_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeElLT6YLseWpeUXo0PluBcyzH34gR7kBZTMffiBHuQFlHxKQ56GiFPhvdwXZEhD4GekuxBJRgwmqOx7uVkSYQVU&_nc_ohc=c0GdfpwKk80AX8Wr_a7&_nc_ht=scontent.fctg2-1.fna&oh=9c3764a21ff3a9ea526d03ba29ee4d0d&oe=5FC8895E"
            class="img-fluid z-depth-1 rounded-circle"
            style="height: 135px; width: 135px;"
            alt="Responsive image">
        </div>
    </div>
</header>