.view {
    background: url("../../../assets/portada.png")no-repeat center center;
    background-size: cover;
    height: 100%;
}
.imagenPerfil {
    text-align: center;
    float: right;
    margin:0 auto;
    margin-top: auto;
    margin-bottom: auto;
}
.buttonSocial {
    text-align: center;
    float: right;
    margin:0 auto;
    margin-top: auto;
    margin-bottom: auto;
}
.nombre {
    text-align: center;
    float: right;
    margin:0 auto;
    margin-top: auto;
    margin-bottom: auto;
}