.view {
    background: url("../../../assets/portada.png")no-repeat center center;
    background-size: cover;
    height: 100%;
}
.imagenPerfil {
    margin-top:30px;
   margin-bottom:auto;
   margin-left:auto;
   margin-right:auto;
   text-align:center;
}
.buttonSocial {
    text-align: center;
    float: right;
    margin:0 auto;
    margin-top: auto;
    margin-bottom: auto;
}
.nombre {
    text-align: center;
    float: right;
    margin:0 auto;
    margin-top: auto;
    margin-bottom: auto;
}