@media (min-width:1200px){
    .view {
        background: url("https://res.cloudinary.com/unidigital/image/upload/v1612030319/assets-MiguelPaez/portadaMiguel_vcwa6d.jpg")no-repeat center center;
        background-size: cover;
        height: 280px;
    }
}
@media (min-width:700px) and (max-width: 1200px){
    .view {
        background: url("https://res.cloudinary.com/unidigital/image/upload/v1612030655/assets-MiguelPaez/portadaMiguel2_pfpx20.jpg")no-repeat center center;
        background-size: cover;
        height: 420px;
    }
}
@media (max-width:700px){
    .view {
        background: url("https://res.cloudinary.com/unidigital/image/upload/v1612030841/assets-MiguelPaez/portadaMiguel3_ajmdpd.jpg")no-repeat center center;
        background-size: cover;
        height: 620px;
    }
}

.imagenPerfil {
    margin-top:80px;
    margin-bottom:auto;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}
.buttonSocial {
    text-align: center;
    float: right;
    margin:0 auto;
    margin-top: 110px;
    margin-bottom: auto;
}
.nombre {
    text-align: center;
    float: right;
    margin:0 auto;
    margin-top: 110px;
    margin-bottom: auto;
}

.facebook {
    color: #a9c4ff;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.twitter {
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.linkedin {
    color: #7699e4;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.youtube {
    color: #ff6161;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
   
  