<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div class="view intro-2" style="height: 200px;">
        <div class="row">                 
                    <!--Imagen de perfil-->
                    <div class="imagenPerfil">
                        <img src="https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/123063769_155774156225645_2383598193006832660_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeElLT6YLseWpeUXo0PluBcyzH34gR7kBZTMffiBHuQFlHxKQ56GiFPhvdwXZEhD4GekuxBJRgwmqOx7uVkSYQVU&_nc_ohc=c0GdfpwKk80AX8Wr_a7&_nc_ht=scontent.fctg2-1.fna&oh=9c3764a21ff3a9ea526d03ba29ee4d0d&oe=5FC8895E"
                        class="img-fluid z-depth-1 rounded-circle"
                        style="height: 150px; width: 150px"
                        alt="Responsive image">
                    </div>
                    <!--Imagen de perfil-->
                    <!--Texto en el Centro-->
                    <div class="nombre" style="text-align: center;">
                        <div class="white-text text-center wow fadeInUp">
                            <h1>Miguel Ángel Páez Parra</h1>
                        </div>
                    </div>
                    <!--Texto en el Centro-->
                    <div class="buttonSocial">
                    <!--Facebook-->
                    <a class="btn-floating btn-lg btn-fb" mdbBtn color="fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
                    <!--Twitter-->
                    <a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
                    <!--Linkedin-->
                    <a class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
                    <!--Youtube-->
                    <a class="btn-floating btn-lg btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>
                    <!--Github-->
                    <a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
                    <!--Facebook-->
                    <a class="fb-ic mr-3" role="button"><i class="fab fa-lg fa-facebook-f"></i></a>
                    <a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
                    </div>
        </div>
    </div>
</header>