<header>
    <div class="view intro-2" style="height: 200px;">
        <div class="row">
            <div class="full-bg-img">
                <div class="mask rgba-black-light flex-center">
                    <!--Imagen de perfil-->
                    <div class="col-xl-5 col-md-4 mb-3 text-center">
                        <img src="https://scontent.fctg2-1.fna.fbcdn.net/v/t1.0-9/123063769_155774156225645_2383598193006832660_n.jpg?_nc_cat=103&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeElLT6YLseWpeUXo0PluBcyzH34gR7kBZTMffiBHuQFlHxKQ56GiFPhvdwXZEhD4GekuxBJRgwmqOx7uVkSYQVU&_nc_ohc=c0GdfpwKk80AX8Wr_a7&_nc_ht=scontent.fctg2-1.fna&oh=9c3764a21ff3a9ea526d03ba29ee4d0d&oe=5FC8895E"
                        class="img-fluid z-depth-1 rounded-circle"
                        style="height: 150px; width: 150px; text-align: center; margin-top: auto;"
                        alt="Responsive image">
                    </div>
                    <!--Imagen de perfil-->
                    <!--Texto en el Centro-->
                    <div class="container text-center white-text">
                        <div class="white-text text-center wow fadeInUp">
                            <h1>Miguel Ángel Páez Parra</h1>
                        </div>
                    </div>
                    <!--Texto en el Centro-->
                    <!--Facebook-->
<a class="btn-floating btn-lg btn-fb" type="button" role="button"><i class="fab fa-facebook-f"></i></a>
<!--Twitter-->
<a class="btn-floating btn-lg btn-tw" type="button" role="button"><i class="fab fa-twitter"></i></a>
<!--Google +-->
<a class="btn-floating btn-lg btn-gplus" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>
<!--Linkedin-->
<a class="btn-floating btn-lg btn-li" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
<!--Instagram-->
<a class="btn-floating btn-lg btn-ins" type="button" role="button"><i class="fab fa-instagram"></i></a>
<!--Pinterest-->
<a class="btn-floating btn-lg btn-pin" type="button" role="button"><i class="fab fa-pinterest"></i></a>
<!--Vkontakte-->
<a class="btn-floating btn-lg btn-vk" type="button" role="button"><i class="fab fa-vk"></i></a>
<!--Stack Overflow-->
<a class="btn-floating btn-lg btn-so" type="button" role="button"><i class="fab fa-stack-overflow"></i></a>
<!--Youtube-->
<a class="btn-floating btn-lg btn-yt" type="button" role="button"><i class="fab fa-youtube"></i></a>
<!--Slack-->
<a class="btn-floating btn-lg btn-slack" type="button" role="button"><i class="fab fa-slack-hash"></i></a>
<!--Github-->
<a class="btn-floating btn-lg btn-git" type="button" role="button"><i class="fab fa-github"></i></a>
<!--Comments-->
<a class="btn-floating btn-lg btn-comm" type="button" role="button"><i class="fas fa-comments"></i></a>
<!--Email-->
<a class="btn-floating btn-lg btn-email" type="button" role="button"><i class="fas fa-envelope"></i></a>
<!--Dribbble-->
<a class="btn-floating btn-lg btn-dribbble" type="button" role="button"><i class="fab fa-dribbble"></i></a>
<!--Reddit-->
<a class="btn-floating btn-lg btn-reddit" type="button" role="button"><i class="fab fa-reddit-alien"></i></a>
<!--WhatsApp-->
<a class="btn-floating btn-lg btn-whatsapp" type="button" role="button"><i class="fab fa-whatsapp"></i></a> 
                </div>
            </div>
        </div>
    </div>
</header>